<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>31st Hussars - Solaris League</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- icons -->
    <link rel="apple-touch-icon" href="/static/assets/img/hussar-favicon.png">
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico">

    <!-- Override CSS file - add your own CSS rules -->
    <link rel="stylesheet" href="/static/assets/css/styles.css?1">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="header-heading">31st Hussars - Solaris League</h1>
      </div>
      <div class="nav-bar">
        <ul class="nav">
    		{%if config.TEST_MODE %}
          		<li><span style="color:red;">TEST MODE</span></li>
		{% endif %}
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
	  <li><a href="/leaderboard">Leaderboard</a></li>
{% if g.user.is_authenticated %}
          <li><a href="/hangar">Hangar</a></li>
          <li><a href="/games">Games</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
	    <div style="float:right;">
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
	  </div>
{% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
    {%if config.REGISTER_ENABLED %}
          <li><a href="{{ url_for('register') }}">Sign Up</a></li>
    {% endif %}
{% endif %}
        </ul>
      </div>
      <div class="content">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <div class="main">
        {% block content %}{% endblock %}
        </div>
      </div>
      <div class="footer">
              &copy; Copyright 2017 <a href="mailto:mail@redimp.de">Red Imp</a>
               &middot; <a href="https://icons8.com/">Icon credits</a> 
               &middot; {{ REVISION }}
      </div>
    </div>
  </body>
</html>
