{% extends "base.html" %}
{% block content %}
<h2>Your Games</h2>
{% if games %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Opponent</th>
            <th></th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <th scope="row">{{ game.day }}</th>
            {% if g.user.id == game.player_home_id %}
            <td>{{game.player_away.username}}</td>
            <td><strong>Home</strong></td>
            {% else %}
            <td>{{game.player_home.username}}</td>
            <td><em>Away</em></td>
            {% endif %}
            <td>
                {% if game.status > 0 %}
                {% if game.status == 3 and game.winner == g.user.id %}
                <img src="/static/assets/img/Trophy-16.png" />
                {% elif game.status == 3 and game.winner != g.user.id %}
                <img src="/static/assets/img/Thriller-16.png" />
                {% elif game.status == 2 %}
                <img src="/static/assets/img/Rubik-16.png" />
                {% endif %}
                <a href="{{ url_for('game_detail',game_id = game.id) }}">{{ game.get_status() }}</a>
                {% else %}
                <img src="/static/assets/img/Clock-16.png" />
                {{ game.get_status() }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{# {{ games }} #}
{% else %}
No games available at the moment. Please wait till the league is set up.
{% endif %}
{% endblock %}
