{% extends "base.html" %}
{% block content %}
<h2>Your Hangar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Chassis</th>
            <th>Played</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        {% for mech in current_hangar %}
        <tr class="{{mech.chassis.weightclass|lower}}">
            <th scope="row">{{loop.index}}</th>
            <td>{{mech.chassis.name}}</td>
            <td>{{mech.used}}</td>
            <td>{% if mech.id in available_hangar %}
                    {% if mech.trial %}
                        <img alt="Yes, Trial Mech" title="Yes, Trial Mech" src="/static/assets/img/Puzzle-16.png" />
                    {%else%}
                        <img alt="Yes" title="Yes" src="/static/assets/img/Checkmark-16.png" />
                    {%endif%}
            {%else%}
                <img title="No" alt="No" src="/static/assets/img/Delete-16.png" />
            {%endif%} {#ilable: {{mech.available}} Used: {{mech.used}} Trial: {{mech.trial}}#}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
