{% extends "base.html" %}
{% block content %}

<div class="form-style-2">
<div class="form-style-2-heading">Login</div>
<form action="{{ url_for('login') }}" method="post">
<label for="username"><span>Name <span class="required">*</span></span>
    <input type="text" class="input-field" name="username" value="" /></label>
<label for="password"><span>Password <span class="required">*</span></span>
    <input type="password" class="input-field" name="password" value="" /></label>
<label><span>&nbsp;</span></label><input type="submit" value="Submit" />
</form>
</div>

{% endblock %}
