{% extends "base.html" %}
{% block content %}
<div class="form-style-2">
<div class="form-style-2-heading">Sign Up</div>
<form action="{{ url_for('register') }}" method="post">
<label for="username"><span>Name <span class="required">*</span></span>
    <input type="text" class="input-field" name="username" value="{{ request.form.username }}" autofocus/></label>
<label for="password"><span>Password <span class="required">*</span></span>
    <input type="password" class="input-field" name="password" value="{{ request.form.password }}" /></label>
<label for="repeat"><span>Repeat <span class="required">*</span></span>
    <input type="password" class="input-field" name="repeat" value="{{ request.form.repeat }}" /></label>
{#<label for="repeat"><span>eMail <span class="required">*</span></span>
    <input type="text" class="input-field" name="email" value="{{ request.form.email }}" /></label>#}
<label><span>&nbsp;</span></label><input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
