{% extends "base.html" %}
{% block content %}
<h2>Scoreboard</h2>
{% if groups_and_games %}
Day: {% for day in gamedays + inactive_gamedays %}
{% if day == display_gameday %}
<strong>{{day}}</strong>&nbsp;
{% elif day in inactive_gamedays %}
<em>{{day}}</em>&nbsp;
{% else %}
<a href="{{ url_for('scoreboard', day=day) }}">{{day}}</a>&nbsp;
{% endif %}
{% endfor %}
<hr/>

{% for (group,games) in groups_and_games.iteritems() %}
<h3>Group {{group}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:20%;">&nbsp;</th>
            <th style="text-align:right;width:40%;">Home</th>
            <th style="text-align:left;width:40%;">Away</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{%if not game.winner %}<img src="/static/assets/img/Clock-16.png" />{%else%}&nbsp;{%endif%}</td>
            <td style="text-align:right;">{%if game.winner == game.player_home_id%} <img src="/static/assets/img/Trophy-16.png" />{%endif%} 
            {%if g.user == game.player_home %}<strong>{{game.player_home.username}}</strong>
            {%else%}{{game.player_home.username}}
            {%endif%}
        </td>
            <td style="text-align:left;">
            {%if g.user == game.player_away %}<strong>{{game.player_away.username}}</strong>
            {%else%}
            {{game.player_away.username}}
            {%endif%}
            {%if game.winner == game.player_away_id%} <img src="/static/assets/img/Trophy-16.png" />{%endif%}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% else %}
No scoreboard available at the moment. Please wait till the league has been started.
{% endif %}

{% endblock %}
